:root{
  font-size: 0.82vw;

  --light-color: #FFFFFA;
  --dark-color: #3D3B41;
  --dark-color-20: #333138;
  --accent-color: #998FC7;
  --accent-color-20: hsl(251, 33%, 47%);
  --accent1-color: #F87060;
  --accent2-color: #709255;
  --accent3-color: #EEBA0B;
  --accent3-color-20: hsl(46, 91%, 29%);
  --accent4-color: #1982C4;

  --scrollbar-track: #DEDAE0;
  --scrollbar-track-hover: #85858a;
  --scrollbar-thumb: #525156;
}

@media screen and (max-width: 1950px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    font-size: 1vw;
  }
}

@keyframes initLeft {
  0% {
    transform: translate(-100vw, 0vh) scale(.8);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes initRight {
  0% {
    transform: translate(100vw, 0vh) scale(.8);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes initLeftWithStretch {
  0% {
    transform: translate(-100vw, 0vh) scale(.8);
    width: 22rem;
  }
  50% {
    transform: translate(0px, 0px) scale(1);
  }
  100% {
    transform: translate(0px, 0px);
    width: 100%;
  }
}
