@import "../../assets/css/variables";

.Navbar {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: $nav-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $light-color-0;
  background: #1C2826;

  .Layout {
    width: $container-width;
    max-width: $max-width;
  }
}
